In [1]:
import pandas as pd
import numpy as np
from matplotlib import pyplot as plt
%matplotlib inline

In [2]:
!dir

 Volume in drive D has no label.
 Volume Serial Number is 3417-05D0

 Directory of d:\PythonTraining\Signate\【練習問題】レンタル自転車の利用者数予測

2020/07/26  09:20    <DIR>          .
2020/07/26  09:20    <DIR>          ..
2020/07/26  09:20    <DIR>          .ipynb_checkpoints
2020/04/01  20:56         1,723,435 200401_try.ipynb
2020/07/26  09:20                72 20200726.ipynb
2020/04/01  19:27            93,188 sample_submit.csv
2020/04/01  20:56           221,382 submit1.csv
2020/04/01  19:27           520,498 test.tsv
2020/04/01  19:27           536,706 train.tsv
               6 File(s)      3,095,281 bytes
               3 Dir(s)  958,200,524,800 bytes free

In [4]:
train = pd.read_csv('train.tsv', sep='\t')
test = pd.read_csv('test.tsv', sep='\t')
submit = pd.read_csv('sample_submit.csv', header=None)

In [5]:
train

,id,dteday,season,yr,mnth,hr,holiday,weekday,workingday,weathersit,temp,atemp,hum,windspeed,cnt
0,1,2011-01-01,1,0,1,0,0,6,0,1,0.24,0.2879,0.81,0.0000,16
1,2,2011-01-01,1,0,1,1,0,6,0,1,0.22,0.2727,0.80,0.0000,40
2,3,2011-01-01,1,0,1,2,0,6,0,1,0.22,0.2727,0.80,0.0000,32
3,4,2011-01-01,1,0,1,3,0,6,0,1,0.24,0.2879,0.75,0.0000,13
4,5,2011-01-01,1,0,1,4,0,6,0,1,0.24,0.2879,0.75,0.0000,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
8640,8641,2011-12-31,1,0,12,19,0,6,0,1,0.42,0.4242,0.54,0.2239,92
8641,8642,2011-12-31,1,0,12,20,0,6,0,1,0.42,0.4242,0.54,0.2239,71
8642,8643,2011-12-31,1,0,12,21,0,6,0,1,0.40,0.4091,0.58,0.1940,52
8643,8644,2011-12-31,1,0,12,22,0,6,0,1,0.38,0.3939,0.62,0.1343,38
8644,8645,2011-12-31,1,0,12,23,0,6,0,1,0.36,0.3788,0.66,0.0000,31